<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Formulario apps</title>
    <style>
      h1 {
  color: #6c2eb9;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-transform: uppercase;
}
    </style>
  </head>
  <body>
    <div class="container p-4">
      <h1 style>SPS TECH IS NOW</h1>
      <img src="SPS_logo.PNG">
      <form method="post" target="/new-entry" action="" class="card card-body">
        <div class="form-group">
          <h3>Ingrese sus datos</h3>
          <label for="title">Nombre:</label>
          <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre" value="" >
        </div>
        <div class="form-group">
          <label for="title">Correo electronico:</label>
          <input type="text" class="form-control" name="correo" id="correo" placeholder="correo" value="" >
        </div>
        <div class="form-group">
          <label for="title">Edad:</label>
          <input type="text" class="form-control" name="edad" id="edad" placeholder="edad" value="" >
        </div>
        <input type="submit" name="" value="Guardar" class="btn btn-primary">
      </form>
    </div>

  </body>
</html>
